:root {
    --ct-dark: darkgrey;
    --ct-darker: black;
    --ct-vibrant: gold;
    --ct-light: lightgrey;
    --ct-lighter: lightblue;
    --ct-dark-crystal: rgba(0, 0, 0, 0.75);

    --navbar-height: 3rem;
    --footer-height: 4rem;
    /* --navbar-height: 5rem; */

    --fs-navbar: 0.9rem;
    --fs-logo: 1.2rem;
    --fs-headers: 1.8rem;
    --fs-subheader: 1.4rem;
    --fs-content: 0.9rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.content {
    display: grid;
    grid-template: var(--navbar-height) 1fr var(--footer-height) / 1fr;
    grid-template-areas:
        "nav-bar"
        "main-content"
        "footer";
}
/* //--------------------------------------------------------------// */
/* //--------------------------------------------------------------// */
/* //--------------------------------------------------------------// */
nav {
    grid-area: nav-bar;
    position: sticky;
    top: 0;
    background-color: var(--ct-darker);
    color: var(--ct-light);
    font-size: var(--fs-navbar);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav > .logo {
    font-size: var(--fs-logo);
    color: var(--ct-vibrant);
    font-weight: bolder;
}

nav > ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    font-weight: bold;
}

nav > ul > li:hover {
    color: var(--ct-vibrant);
    cursor: pointer;
}
/* //--------------------------------------------------------------// */
/* //--------------------------------------------------------------// */
/* //--------------------------------------------------------------// */
.main-content {
    grid-area: main-content;
    background-color: var(--ct-lighter);
    min-height: 100vh;
    padding: 1rem;
    background: no-repeat center
        url("./assets/pexels-valeria-boltneva-1639565.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
}

.content-frame {
    width: 60%;
    height: fit-content;
    background-color: var(--ct-dark-crystal);
    box-shadow: 0 0 2px 2px var(--ct-dark-crystal);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;
    color: var(--ct-light);
}

.content-frame > h1 {
    font-size: var(--fs-headers);
    text-align: center;
    font-style: italic;
}

.content-frame > p {
    font-size: var(--fs-content);
}

.content-frame > img {
    width: 100%;
    border-radius: 3px;
}


.content-frame > video {
    width: 100%;
    border-radius: 3px;
}

.content-frame > .menu-item-container {
    width: 90%;
    padding: 1rem;
    background-color: var(--ct-light);
    color: var(--ct-darker);
    border-radius: 3px;
    box-shadow: 0 0 1px 1px var(--ct-dark);
}

.content-frame > .menu-item-container > .menu-item-name {
    text-align: center;
    font-size: var(--fs-subheader);
}

.content-frame > .menu-item-container > img {
    width: 100%;
    margin: 1rem 0;
}

.content-frame > .menu-item-container > .menu-item-desc {
    text-align: center;
    font-style: italic;
    font-size: var(--fs-content);
}
/* //--------------------------------------------------------------// */
/* //--------------------------------------------------------------// */
/* //--------------------------------------------------------------// */
footer {
    grid-area: footer;
    height: 100%;
    background-color: var(--ct-darker);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > .githubLink {
    font-size: var(--fs-logo);
    font-weight: bold;
    color: var(--ct-dark);
    text-decoration: none;
}

footer > .githubLink:hover {
    color: var(--ct-vibrant);
    cursor: pointer;
}
/* //--------------------------------------------------------------// */
/* //--------------------------------------------------------------// */
/* //--------------------------------------------------------------// */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .main-content {
        padding: 1rem 5px;
    }

    .content-frame {
        width: 95%;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    :root {
        --fs-navbar: 1rem;
        --fs-logo: 1.4rem;
        --fs-headers: 1.9rem;
        --fs-subheader: 1.5rem;
        --fs-content: 1rem;
    }

    .main-content {
        padding: 1rem 10px;
    }

    .content-frame {
        width: 90%;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    :root {
        --fs-navbar: 1.1rem;
        --fs-logo: 1.6rem;
        --fs-headers: 2rem;
        --fs-subheader: 1.6rem;
        --fs-content: 1rem;
    }

    .main-content {
        padding: 1rem;
    }
    
    .content-frame {
        width: 80%;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {  
    .content-frame {
        width: 70%;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {  
    .content-frame {
        width: 50%;
    }
}
